.doc-content__code
    font: 12px / 1.5 'Roboto Mono',monospace
    color: #666
    -moz-tab-size: 4
    tab-size: 4
    overflow: auto
    padding: 25px
    border: 0 solid #e5e5e5
    border-radius: 0
    background: #f8f8f8
