.doc-content__list-item
    display: block
    padding-left: 20px
    position: relative
    margin: 10px 0

    &:before
        position: absolute
        margin-left: -20px
        width: 20px
        text-align: center
        content: '\2014'
