@import 'doc-content'
@import 'doc-content__title'
@import 'doc-content__title_size_h1'
@import 'doc-content__title_size_h2'
@import 'doc-content__title_size_h3'
@import 'doc-content__title_size_h4'
@import 'doc-content__paragraph'
@import 'doc-content__code'
@import 'doc-content__codespan'
@import 'doc-content__table'
@import 'doc-content__table-head'
@import 'doc-content__table-body'
@import 'doc-content__table-cell'
@import 'doc-content__table-row'
@import 'doc-content__line'
