.doc-browser
    border-top: 2em solid #ececec
    box-shadow: 0 0 2em rgba(0,0,0,0.05)
    position: relative
    border-radius: 5px 5px 0 0
    padding: 40px
    margin: 30px 0
    box-sizing: border-box

    &:before
        display: block
        position: absolute
        content: ''
        top: -1.25em
        left: 1em
        width: 0.5em
        height: 0.5em
        border-radius: 50%
        background-color: #f44
        box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5

    // &:after
    //     display: block
    //     position: absolute
    //     content: ''
    //     top: -1.9em
    //     left: 5.5em
    //     width: 20%
    //     height: 0em
    //     border-bottom: 2em solid white
    //     border-left: 0.8em solid transparent
    //     border-right: 0.8em solid transparent
