.doc-browser__tabs
    position: absolute
    bottom: 100%
    left: 5.5em
    height: 1.9em
    display: flex
    // border-bottom: 2em solid white
    // border-left: 0.8em solid transparent
    // border-right: 0.8em solid transparent
