.doc-tab__list
    margin-bottom: 20px
    display: flex
    position: relative

    &:after
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        border-bottom: 1px solid #e5e5e5
        z-index: 1
