.ui-page
    box-sizing: border-box
    margin-left: auto
    margin-right: auto

    if $ui-page['min-width']
        min-width: $ui-page['min-width']

    if $ui-page['max-width']
        max-width: $ui-page['max-width']

    if length($ui-page['padding'])
        padding: $ui-page['padding']
