@import 'text'


// Text styles
@import 'text-underline'
@import 'text-italic'
@import 'text-strike'

// Font weight
@import 'text-thin'
@import 'text-light'
@import 'text-regular'
@import 'text-medium'
@import 'text-bold'
@import 'text-black'

// Text alignment
@import 'text-left'
@import 'text-center'
@import 'text-right'

// Vertical alignment
@import 'text-top'
@import 'text-middle'
@import 'text-bottom'

// Text wrapping
@import 'text-ellipsis'
@import 'text-break'
@import 'text-nowrap'

// Text color
@import 'text-muted'
