+media-selector('.ui-grid_theme_divider')
    margin: 0

    & > .ui-grid__item
        border-color: $ui-line-color
        border-style: solid
        border-width: 0

        & + .ui-grid__item
            border-left-width: 1px
