.body
    font-family: $uikit-base['font-family']
    font-size: $uikit-base['font-size']
    // line-height: $uikit-base['line-height']
    color: $uikit-base['color']
    background-color: $uikit-base['background-color']
    min-width: $uikit-base['min-width']
    margin: 0
