.body__section
    box-sizing: border-box
    margin-left: auto
    margin-right: auto
    min-width: $uikit-body['section']['min-width']
    max-width: $uikit-body['section']['max-width']
    padding: $uikit-body['section']['padding']
