{
    "env": {
        "browser": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "extends": [
        "airbnb"
    ],
    "rules": {
        "indent": [2, 4],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-no-target-blank": 0,
        "react/jsx-one-expression-per-line": 0,
        "react/no-danger": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "jsx-a11y/anchor-is-valid": 0,
        "jsx-a11y/label-has-for": [ 2, {
            "required": {
                "some": [ "nesting", "id" ]
            },
            "allowChildren": true,
        }],
        "no-undef": 0,
        "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
        "react/forbid-prop-types": 0,
        "jsx-quotes": ["error", "prefer-single"],
        "import/prefer-default-export": 0,
        "import/no-cycle": 0,
        "import/no-unresolved": 0,
        "import/no-extraneous-dependencies": 0,
        "no-underscore-dangle": 0,
        "arrow-body-style": 0,
        "arrow-parens": 0,
        "prefer-object-spread": 0,
        "max-len": 0,
        "object-curly-newline": 0,
        "no-extra-boolean-cast": 0,
        "prefer-template": 0
    }
}
