.doc-tab__list-item
    text-align: center
    padding: 9px 20px
    color: #999
    border-bottom: 2px solid transparent
    font-size: 12px
    text-transform: uppercase
    transition: color .1s ease-in-out
    line-height: 20px
    cursor: pointer
    position: relative
    z-index: 2
