$_media_alias = {}

media-add($condition, $alias)
    unless $_media_alias[$condition]
        $_media_alias[$condition] = $alias

media-selector($className)
    {$className}
        {block}

    for $media_name in $_media_alias
        +media($media_name)
            {$className}\\@{$media_name}
                {block}

media($condition)
    $media = unquote($_media_alias[$condition] || $condition)
    $media = '(%s)' % $media unless match('\(', $media)
    $media = 'only screen and %s' % $media

    @media $media
        {block}
