$__media-alias = {}
$__media-cache = {}

media-add($condition, $alias)
    unless $__media-alias[$condition]
        $__media-alias[$condition] = $alias

media($condition)
    helper($condition)
        unless $__media-cache[$condition]
            $__media-cache[$condition] = ()
        push($__media-cache[$condition], block)

    +helper($condition)
        {selector() + ''}
            {block}

media-selector($className)
    {$className}
        {block}

    for media_name in $__media-alias
        +media(media_name)
            {$className}\\@{media_name}
                {block}

media-apply()
    for $media, $blocks in $__media-cache
        $media = unquote($__media-alias[$media] || $media)
        $media = '(%s)' % $media unless match('\(', $media)
        $media = 'only screen and %s' % $media

        @media $media
            for $block in $blocks
                {$block}
