.ui-list_style_dash

    & > .ui-list__item
        padding-left: 20px
        position: relative

        &:before
            position: absolute
            margin-left: -20px
            width: 20px
            text-align: center
            content: '\2014'
