@import '../../mixins.sss'

@mixin media .box_background_danger
    background-color: var(--ek-danger-background-color)

@mixin media .box_border_danger
    border-color: var(--ek-danger-border-color)
