@import '../mixins.sss'

@mixin media .box_background_danger
    background-color: var(--ek-danger-background-color)

@mixin media .box_border_danger
    border: 1px solid var(--ek-danger-border-color)
