@import '../mixins.sss'

@mixin media .box_background_second
    background-color: var(--ek-second-background-color)

@mixin media .box_border_second
    border: 1px solid var(--ek-second-border-color)
