@import '../mixins.sss'

@mixin media .box_background_success
    background-color: var(--EKSuccessBackgroundColor)

@mixin media .box_border_success
    border: 1px solid var(--EKSuccessBorderColor)
