@import '../mixins.sss'

@mixin media .box_background_warning
    background-color: var(--EKWarningBackgroundColor)

@mixin media .box_border_warning
    border: 1px solid var(--EKWarningBorderColor)
