@import '../../mixins.sss'

@mixin media .box_background_warning
    background-color: var(--ek-warning-background-color)

@mixin media .box_border_warning
    border-color: var(--ek-warning-border-color)
