.picture__item
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    max-width: 100%
    max-height: 100%
    margin: auto
    outline: none
    border: 0

    &[alt]
        word-wrap: break-word
        word-break: break-word
        hyphens: auto
