:root {
    --ek-list-border-red: red;
    --ek-list-color-red: red;
}
.ek-list_color_red > .ek-list__item:before {
    color: var(--ek-list-color-red);
}
.ek-list_divider_red > .ek-list__item + .ek-list__item {
    border-top: 1px solid var(--ek-list-border-red);
}
@media (--ek-list-media-small) {
    .ek-list_color_red\@small > .ek-list__item:before {
        color: var(--ek-list-color-red);
    }
    .ek-list_divider_red\@small > .ek-list__item + .ek-list__item {
        border-top: 1px solid var(--ek-list-border-red);
    }
}
@media (--ek-list-media-medium) {
    .ek-list_color_red\@medium > .ek-list__item:before {
        color: var(--ek-list-color-red);
    }
    .ek-list_divider_red\@medium > .ek-list__item + .ek-list__item {
        border-top: 1px solid var(--ek-list-border-red);
    }
}
@media (--ek-list-media-large) {
    .ek-list_color_red\@large > .ek-list__item:before {
        color: var(--ek-list-color-red);
    }
    .ek-list_divider_red\@large > .ek-list__item + .ek-list__item {
        border-top: 1px solid var(--ek-list-border-red);
    }
}
@media (--ek-list-media-wide) {
    .ek-list_color_red\@wide > .ek-list__item:before {
        color: var(--ek-list-color-red);
    }
    .ek-list_divider_red\@wide > .ek-list__item + .ek-list__item {
        border-top: 1px solid var(--ek-list-border-red);
    }
}
@media (--ek-list-media-huge) {
    .ek-list_color_red\@huge > .ek-list__item:before {
        color: var(--ek-list-color-red);
    }
    .ek-list_divider_red\@huge > .ek-list__item + .ek-list__item {
        border-top: 1px solid var(--ek-list-border-red);
    }
}
