@import '../../mixins.sss'

@mixin media .list_color_dark
    & > .list__item
        &:before
            color: var(--ek-dark-text-color)

@mixin media .list_divider_dark
    & > .list__item
        & + .list__item
            border-color: var(--ek-dark-divider-color)
