@import '../../mixins.sss'

@mixin media .list_color_info
    & > .list__item
        &:before
            color: var(--ek-info-text-color)

@mixin media .list_divider_info
    & > .list__item
        & + .list__item
            border-color: var(--ek-info-divider-color)
