@import '../../mixins.sss'

@mixin media .list_color_reset
    & > .list__item
        &:before
            color: var(--ek-reset-text-color)

@mixin media .list_divider_reset
    & > .list__item
        & + .list__item
            border-color: var(--ek-reset-divider-color)
