@import '../../mixins.sss'

@mixin media .list_color_second
    & > .list__item
        &:before
            color: var(--ek-second-text-color)

@mixin media .list_divider_second
    & > .list__item
        & + .list__item
            border-top: 1px solid var(--ek-second-divider-color)
