@import '../../mixins.sss'

@mixin media .list_color_success
    & > .list__item
        &:before
            color: var(--ek-success-text-color)

@mixin media .list_divider_success
    & > .list__item
        & + .list__item
            border-color: var(--ek-success-divider-color)
