.link_style_dotted
    border-bottom: 1px dotted

    @media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0)
        &:hover
            text-decoration: none
            border-bottom-color: transparent
