.link
    color: $global-link['colors']['link']
    text-decoration: none
    display: inline
    line-height: $uikit-base['line-height']

    @media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0)
        cursor: pointer

        &:hover
            text-decoration: underline
