.doc-header__logo
    display: inline-block
    vertical-align: top
    color: #3c3c3c
    font-size: 30px
    font-weight: 100
    line-height: 40px
    opacity: 0.8
    transition: opacity 0.1s linear
    user-select: none
