*
    padding: 0
    margin: 0

ul
    list-style: none

a
    color: #3c3c3c
    text-decoration: none

body
    background: #f7f7f7
    color: #3c3c3c
    font-size: 13px
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif
    line-height: 1.5
    font-weight: 400
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: auto
    overflow: hidden
