+media-selector('.ui-box_margin_auto')
    margin: auto

+media-selector('.ui-box_margin-tb_auto')
    margin-top: auto
    margin-bottom: auto

+media-selector('.ui-box_margin-lr_auto')
    margin-left: auto
    margin-right: auto

+media-selector('.ui-box_margin-left_auto')
    margin-left: auto

+media-selector('.ui-box_margin-top_auto')
    margin-top: auto

+media-selector('.ui-box_margin-right_auto')
    margin-right: auto

+media-selector('.ui-box_margin-bottom_auto')
    margin-bottom: auto
