for name, value in $ui_size
    .ui-box_margin_{name}
        margin: value

    .ui-box_margin-tb_{name}
        margin-top: value
        margin-bottom: value

    .ui-box_margin-lr_{name}
        margin-left: value
        margin-right: value
