for name, value in $ui_size
    .ui-box_margin_{name}
        margin: value

    .ui-box_margin-tb_{name}
        margin-top: value
        margin-bottom: value

    .ui-box_margin-lr_{name}
        margin-left: value
        margin-right: value

    .ui-box_margin-left_{name}
        margin-left: value

    .ui-box_margin-top_{name}
        margin-top: value

    .ui-box_margin-right_{name}
        margin-right: value

    .ui-box_margin-bottom_{name}
        margin-bottom: value
