+media-selector('.grid_theme_divider')

    & > .grid__item
        border-color: $global-line-color
        border-style: solid
        border-width: 0

        & + .grid__item
            border-left-width: 1px
