for count in (1..10)
    +media-selector('.grid_column_'+count)

        & > .grid__item
            flex: none
            width: (100 / count)%

        &[class*='grid_theme_divider']

            & > .grid__item
                grid-divider-item-border(count)
