for name, value in $ui_size
    +media-selector('.ui-box_margin_'+name)
        margin: value

    +media-selector('.ui-box_margin-tb_'+name)
        margin-top: value
        margin-bottom: value

    +media-selector('.ui-box_margin-lr_'+name)
        margin-left: value
        margin-right: value

    +media-selector('.ui-box_margin-left_'+name)
        margin-left: value

    +media-selector('.ui-box_margin-top_'+name)
        margin-top: value

    +media-selector('.ui-box_margin-right_'+name)
        margin-right: value

    +media-selector('.ui-box_margin-bottom_'+name)
        margin-bottom: value
