for name, value in $ui-size
    +media-selector('.ui-box_padding_'+name)
        padding: value

    +media-selector('.ui-box_padding-tb_'+name)
        padding-top: value
        padding-bottom: value

    +media-selector('.ui-box_padding-lr_'+name)
        padding-left: value
        padding-right: value

    +media-selector('.ui-box_padding-left_'+name)
        padding-left: value

    +media-selector('.ui-box_padding-top_'+name)
        padding-top: value

    +media-selector('.ui-box_padding-right_'+name)
        padding-right: value

    +media-selector('.ui-box_padding-bottom_'+name)
        padding-bottom: value
