// Text styles
@import 'ui-text-underline'
@import 'ui-text-italic'
@import 'ui-text-strike'

// Font weight
@import 'ui-text-thin'
@import 'ui-text-light'
@import 'ui-text-regular'
@import 'ui-text-medium'
@import 'ui-text-bold'
@import 'ui-text-black'

// Text alignment
@import 'ui-text-left'
@import 'ui-text-center'
@import 'ui-text-right'

// Vertical alignment
@import 'ui-text-top'
@import 'ui-text-middle'
@import 'ui-text-bottom'

// Text wrapping
@import 'ui-text-ellipsis'
@import 'ui-text-break'
@import 'ui-text-nowrap'

// Text color
@import 'ui-text-muted'
