@custom-media --ek-media-small only screen and (min-width: 480px);
@custom-media --ek-media-medium only screen and (min-width: 768px);
@custom-media --ek-media-large only screen and (min-width: 960px);
@custom-media --ek-media-wide only screen and (min-width: 1200px);
@custom-media --ek-media-huge only screen and (min-width: 1400px);

:root {
    --ek-step-indent: 4px;
    --ek-step-round: 2px;
    --ek-step-font-size: 2px;
    --ek-step-line-height: 0.25em;

    --ek-body-min-width: 1000px;
    --ek-body-max-width: 1240px;
    --ek-body-font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;

    --ek-font-size-h1: 24px;
    --ek-font-size-h2: 22px;
    --ek-font-size-h3: 20px;
    --ek-font-size-h4: 18px;
    --ek-font-size-h5: 16px;
    --ek-font-size-h6: 14px;

    --ek-default-font-size: 13px;
    --ek-default-font-weight: 400;
    --ek-default-line-height: 1em;

    --ek-default-background-color: #f7f7f7;
    --ek-default-border-color: #dde8f0;
    --ek-default-divider-color: var(--ek-default-border-color);
    --ek-default-text-color: #3c3c3c;
    --ek-default-link-color: #5e8fd5;

    --ek-reset-background-color: transparent;
    --ek-reset-border-color: transparent;
    --ek-reset-divider-color: transparent;
    --ek-reset-text-color: var(--ek-default-text-color);
    --ek-reset-link-color: var(--ek-default-text-color);

    --ek-primary-background-color: #007bff;
    --ek-primary-border-color: var(--ek-primary-background-color);
    --ek-primary-divider-color: var(--ek-primary-border-color);
    --ek-primary-text-color: #004085;
    --ek-primary-link-color: #004085;

    --ek-second-background-color: white;
    --ek-second-border-color: black;
    --ek-second-divider-color: black;
    --ek-second-text-color: black;
    --ek-second-link-color: black;

    --ek-minor-background-color: white;
    --ek-minor-border-color: black;
    --ek-minor-divider-color: black;
    --ek-minor-text-color: black;
    --ek-minor-link-color: black;

    --ek-light-background-color: #fff;
    --ek-light-border-color: var(--ek-light-background-color);
    --ek-light-divider-color: var(--ek-light-border-color);
    --ek-light-text-color: #818182;
    --ek-light-link-color: #818182;

    --ek-muted-background-color: #f8f9fa;
    --ek-muted-border-color: var(--ek-muted-background-color);
    --ek-muted-divider-color: var(--ek-muted-border-color);
    --ek-muted-text-color: #a4abc4;
    --ek-muted-link-color: #a4abc4;

    --ek-dark-background-color: #343a40;
    --ek-dark-border-color: var(--ek-dark-background-color);
    --ek-dark-divider-color: var(--ek-dark-border-color);
    --ek-dark-text-color: #fff;
    --ek-dark-link-color: #fff;

    --ek-success-background-color: #28a745;
    --ek-success-border-color: var(--ek-success-background-color);
    --ek-success-divider-color: var(--ek-success-border-color);
    --ek-success-text-color: #155724;
    --ek-success-link-color: #155724;

    --ek-info-background-color: #17a2b8;
    --ek-info-border-color: var(--ek-info-background-color);
    --ek-info-divider-color: var(--ek-info-border-color);
    --ek-info-text-color: #0c5460;
    --ek-info-link-color: #0c5460;

    --ek-warning-background-color: #ffc107;
    --ek-warning-border-color: var(--ek-warning-background-color);
    --ek-warning-divider-color: var(--ek-warning-border-color);
    --ek-warning-text-color: #856404;
    --ek-warning-link-color: #856404;

    --ek-danger-background-color: #dc3545;
    --ek-danger-border-color: var(--ek-danger-background-color);
    --ek-danger-divider-color: var(--ek-danger-border-color);
    --ek-danger-text-color: #721c24;
    --ek-danger-link-color: #721c24;
}
