:root {
    --ek-light-background-color: #ffffff;
    --ek-light-border-color: #ffffff;
    --ek-light-divider-color: #ffffff;
    --ek-light-text-color: #818182;
    --ek-light-link-color: #818182;
}

.ek-body_background_light {
    background: var(--ek-light-background-color);
}


.ek-body_color_light {
    color: var(--ek-light-text-color);
}


.ek-box_background_light {
    background: var(--ek-light-background-color);
}


.ek-box_border_light {
    border: 1px solid var(--ek-light-border-color);
}


.ek-grid_divider_light > .ek-grid__item {
        border: 0 solid var(--ek-light-divider-color);
}


.ek-grid_divider_light > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
}


.ek-list_color_light > .ek-list__item:before {
            color: var(--ek-light-text-color);
}


.ek-list_divider_light > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-light-divider-color);
}


.ek-link_color_light {
    color: var(--ek-light-link-color);
}


.ek-text_color_light {
    color: var(--ek-light-text-color);
}


.ek-line_color_light {
    border-color: var(--ek-light-divider-color);
}


@media (--ek-media-small) {
        .ek-body_background_light\@small {
    background: var(--ek-light-background-color);
    }
        .ek-body_color_light\@small {
    color: var(--ek-light-text-color);
    }
        .ek-box_background_light\@small {
    background: var(--ek-light-background-color);
    }
        .ek-box_border_light\@small {
    border: 1px solid var(--ek-light-border-color);
    }

    .ek-grid_divider_light\@small > .ek-grid__item {
        border: 0 solid var(--ek-light-divider-color);
    }

        .ek-grid_divider_light\@small > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_light\@small > .ek-list__item:before {
            color: var(--ek-light-text-color);
    }
        .ek-list_divider_light\@small > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-light-divider-color);
    }
        .ek-link_color_light\@small {
    color: var(--ek-light-link-color);
    }
        .ek-text_color_light\@small {
    color: var(--ek-light-text-color);
    }
        .ek-line_color_light\@small {
    border-color: var(--ek-light-divider-color);
    }
}


@media (--ek-media-medium) {
        .ek-body_background_light\@medium {
    background: var(--ek-light-background-color);
    }
        .ek-body_color_light\@medium {
    color: var(--ek-light-text-color);
    }
        .ek-box_background_light\@medium {
    background: var(--ek-light-background-color);
    }
        .ek-box_border_light\@medium {
    border: 1px solid var(--ek-light-border-color);
    }

    .ek-grid_divider_light\@medium > .ek-grid__item {
        border: 0 solid var(--ek-light-divider-color);
    }

        .ek-grid_divider_light\@medium > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_light\@medium > .ek-list__item:before {
            color: var(--ek-light-text-color);
    }
        .ek-list_divider_light\@medium > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-light-divider-color);
    }
        .ek-link_color_light\@medium {
    color: var(--ek-light-link-color);
    }
        .ek-text_color_light\@medium {
    color: var(--ek-light-text-color);
    }
        .ek-line_color_light\@medium {
    border-color: var(--ek-light-divider-color);
    }
}


@media (--ek-media-large) {
        .ek-body_background_light\@large {
    background: var(--ek-light-background-color);
    }
        .ek-body_color_light\@large {
    color: var(--ek-light-text-color);
    }
        .ek-box_background_light\@large {
    background: var(--ek-light-background-color);
    }
        .ek-box_border_light\@large {
    border: 1px solid var(--ek-light-border-color);
    }

    .ek-grid_divider_light\@large > .ek-grid__item {
        border: 0 solid var(--ek-light-divider-color);
    }

        .ek-grid_divider_light\@large > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_light\@large > .ek-list__item:before {
            color: var(--ek-light-text-color);
    }
        .ek-list_divider_light\@large > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-light-divider-color);
    }
        .ek-link_color_light\@large {
    color: var(--ek-light-link-color);
    }
        .ek-text_color_light\@large {
    color: var(--ek-light-text-color);
    }
        .ek-line_color_light\@large {
    border-color: var(--ek-light-divider-color);
    }
}


@media (--ek-media-wide) {
        .ek-body_background_light\@wide {
    background: var(--ek-light-background-color);
    }
        .ek-body_color_light\@wide {
    color: var(--ek-light-text-color);
    }
        .ek-box_background_light\@wide {
    background: var(--ek-light-background-color);
    }
        .ek-box_border_light\@wide {
    border: 1px solid var(--ek-light-border-color);
    }

    .ek-grid_divider_light\@wide > .ek-grid__item {
        border: 0 solid var(--ek-light-divider-color);
    }

        .ek-grid_divider_light\@wide > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_light\@wide > .ek-list__item:before {
            color: var(--ek-light-text-color);
    }
        .ek-list_divider_light\@wide > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-light-divider-color);
    }
        .ek-link_color_light\@wide {
    color: var(--ek-light-link-color);
    }
        .ek-text_color_light\@wide {
    color: var(--ek-light-text-color);
    }
        .ek-line_color_light\@wide {
    border-color: var(--ek-light-divider-color);
    }
}


@media (--ek-media-huge) {
        .ek-body_background_light\@huge {
    background: var(--ek-light-background-color);
    }
        .ek-body_color_light\@huge {
    color: var(--ek-light-text-color);
    }
        .ek-box_background_light\@huge {
    background: var(--ek-light-background-color);
    }
        .ek-box_border_light\@huge {
    border: 1px solid var(--ek-light-border-color);
    }

    .ek-grid_divider_light\@huge > .ek-grid__item {
        border: 0 solid var(--ek-light-divider-color);
    }

        .ek-grid_divider_light\@huge > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_light\@huge > .ek-list__item:before {
            color: var(--ek-light-text-color);
    }
        .ek-list_divider_light\@huge > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-light-divider-color);
    }
        .ek-link_color_light\@huge {
    color: var(--ek-light-link-color);
    }
        .ek-text_color_light\@huge {
    color: var(--ek-light-text-color);
    }
        .ek-line_color_light\@huge {
    border-color: var(--ek-light-divider-color);
    }
}