:root {
    --ek-warning-background-color: #ffc107;
    --ek-warning-border-color: #ffc107;
    --ek-warning-divider-color: #ffc107;
    --ek-warning-text-color: #856404;
    --ek-warning-link-color: #856404;
}

.ek-body_background_warning {
    background: var(--ek-warning-background-color);
}


.ek-body_color_warning {
    color: var(--ek-warning-text-color);
}


.ek-box_background_warning {
    background: var(--ek-warning-background-color);
}


.ek-box_border_warning {
    border: 1px solid var(--ek-warning-border-color);
}


.ek-grid_divider_warning > .ek-grid__item {
        border: 0 solid var(--ek-warning-divider-color);
}


.ek-grid_divider_warning > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
}


.ek-list_color_warning > .ek-list__item:before {
            color: var(--ek-warning-text-color);
}


.ek-list_divider_warning > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-warning-divider-color);
}


.ek-link_color_warning {
    color: var(--ek-warning-link-color);
}


.ek-text_color_warning {
    color: var(--ek-warning-text-color);
}


.ek-line_color_warning {
    border-color: var(--ek-warning-divider-color);
}


@media (--ek-media-small) {
        .ek-body_background_warning\@small {
    background: var(--ek-warning-background-color);
    }
        .ek-body_color_warning\@small {
    color: var(--ek-warning-text-color);
    }
        .ek-box_background_warning\@small {
    background: var(--ek-warning-background-color);
    }
        .ek-box_border_warning\@small {
    border: 1px solid var(--ek-warning-border-color);
    }

    .ek-grid_divider_warning\@small > .ek-grid__item {
        border: 0 solid var(--ek-warning-divider-color);
    }

        .ek-grid_divider_warning\@small > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_warning\@small > .ek-list__item:before {
            color: var(--ek-warning-text-color);
    }
        .ek-list_divider_warning\@small > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-warning-divider-color);
    }
        .ek-link_color_warning\@small {
    color: var(--ek-warning-link-color);
    }
        .ek-text_color_warning\@small {
    color: var(--ek-warning-text-color);
    }
        .ek-line_color_warning\@small {
    border-color: var(--ek-warning-divider-color);
    }
}


@media (--ek-media-medium) {
        .ek-body_background_warning\@medium {
    background: var(--ek-warning-background-color);
    }
        .ek-body_color_warning\@medium {
    color: var(--ek-warning-text-color);
    }
        .ek-box_background_warning\@medium {
    background: var(--ek-warning-background-color);
    }
        .ek-box_border_warning\@medium {
    border: 1px solid var(--ek-warning-border-color);
    }

    .ek-grid_divider_warning\@medium > .ek-grid__item {
        border: 0 solid var(--ek-warning-divider-color);
    }

        .ek-grid_divider_warning\@medium > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_warning\@medium > .ek-list__item:before {
            color: var(--ek-warning-text-color);
    }
        .ek-list_divider_warning\@medium > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-warning-divider-color);
    }
        .ek-link_color_warning\@medium {
    color: var(--ek-warning-link-color);
    }
        .ek-text_color_warning\@medium {
    color: var(--ek-warning-text-color);
    }
        .ek-line_color_warning\@medium {
    border-color: var(--ek-warning-divider-color);
    }
}


@media (--ek-media-large) {
        .ek-body_background_warning\@large {
    background: var(--ek-warning-background-color);
    }
        .ek-body_color_warning\@large {
    color: var(--ek-warning-text-color);
    }
        .ek-box_background_warning\@large {
    background: var(--ek-warning-background-color);
    }
        .ek-box_border_warning\@large {
    border: 1px solid var(--ek-warning-border-color);
    }

    .ek-grid_divider_warning\@large > .ek-grid__item {
        border: 0 solid var(--ek-warning-divider-color);
    }

        .ek-grid_divider_warning\@large > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_warning\@large > .ek-list__item:before {
            color: var(--ek-warning-text-color);
    }
        .ek-list_divider_warning\@large > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-warning-divider-color);
    }
        .ek-link_color_warning\@large {
    color: var(--ek-warning-link-color);
    }
        .ek-text_color_warning\@large {
    color: var(--ek-warning-text-color);
    }
        .ek-line_color_warning\@large {
    border-color: var(--ek-warning-divider-color);
    }
}


@media (--ek-media-wide) {
        .ek-body_background_warning\@wide {
    background: var(--ek-warning-background-color);
    }
        .ek-body_color_warning\@wide {
    color: var(--ek-warning-text-color);
    }
        .ek-box_background_warning\@wide {
    background: var(--ek-warning-background-color);
    }
        .ek-box_border_warning\@wide {
    border: 1px solid var(--ek-warning-border-color);
    }

    .ek-grid_divider_warning\@wide > .ek-grid__item {
        border: 0 solid var(--ek-warning-divider-color);
    }

        .ek-grid_divider_warning\@wide > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_warning\@wide > .ek-list__item:before {
            color: var(--ek-warning-text-color);
    }
        .ek-list_divider_warning\@wide > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-warning-divider-color);
    }
        .ek-link_color_warning\@wide {
    color: var(--ek-warning-link-color);
    }
        .ek-text_color_warning\@wide {
    color: var(--ek-warning-text-color);
    }
        .ek-line_color_warning\@wide {
    border-color: var(--ek-warning-divider-color);
    }
}


@media (--ek-media-huge) {
        .ek-body_background_warning\@huge {
    background: var(--ek-warning-background-color);
    }
        .ek-body_color_warning\@huge {
    color: var(--ek-warning-text-color);
    }
        .ek-box_background_warning\@huge {
    background: var(--ek-warning-background-color);
    }
        .ek-box_border_warning\@huge {
    border: 1px solid var(--ek-warning-border-color);
    }

    .ek-grid_divider_warning\@huge > .ek-grid__item {
        border: 0 solid var(--ek-warning-divider-color);
    }

        .ek-grid_divider_warning\@huge > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_warning\@huge > .ek-list__item:before {
            color: var(--ek-warning-text-color);
    }
        .ek-list_divider_warning\@huge > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-warning-divider-color);
    }
        .ek-link_color_warning\@huge {
    color: var(--ek-warning-link-color);
    }
        .ek-text_color_warning\@huge {
    color: var(--ek-warning-text-color);
    }
        .ek-line_color_warning\@huge {
    border-color: var(--ek-warning-divider-color);
    }
}