:root {
    --ek-success-background-color: #28a745;
    --ek-success-border-color: #28a745;
    --ek-success-divider-color: #28a745;
    --ek-success-text-color: #155724;
    --ek-success-link-color: #155724;
}

.ek-body_background_success {
    background: var(--ek-success-background-color);
}


.ek-body_color_success {
    color: var(--ek-success-text-color);
}


.ek-box_background_success {
    background: var(--ek-success-background-color);
}


.ek-box_border_success {
    border: 1px solid var(--ek-success-border-color);
}


.ek-grid_divider_success > .ek-grid__item {
        border: 0 solid var(--ek-success-divider-color);
}


.ek-grid_divider_success > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
}


.ek-list_color_success > .ek-list__item:before {
            color: var(--ek-success-text-color);
}


.ek-list_divider_success > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-success-divider-color);
}


.ek-link_color_success {
    color: var(--ek-success-link-color);
}


.ek-text_color_success {
    color: var(--ek-success-text-color);
}


.ek-line_color_success {
    border-color: var(--ek-success-divider-color);
}


@media (--ek-media-small) {
        .ek-body_background_success\@small {
    background: var(--ek-success-background-color);
    }
        .ek-body_color_success\@small {
    color: var(--ek-success-text-color);
    }
        .ek-box_background_success\@small {
    background: var(--ek-success-background-color);
    }
        .ek-box_border_success\@small {
    border: 1px solid var(--ek-success-border-color);
    }

    .ek-grid_divider_success\@small > .ek-grid__item {
        border: 0 solid var(--ek-success-divider-color);
    }

        .ek-grid_divider_success\@small > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_success\@small > .ek-list__item:before {
            color: var(--ek-success-text-color);
    }
        .ek-list_divider_success\@small > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-success-divider-color);
    }
        .ek-link_color_success\@small {
    color: var(--ek-success-link-color);
    }
        .ek-text_color_success\@small {
    color: var(--ek-success-text-color);
    }
        .ek-line_color_success\@small {
    border-color: var(--ek-success-divider-color);
    }
}


@media (--ek-media-medium) {
        .ek-body_background_success\@medium {
    background: var(--ek-success-background-color);
    }
        .ek-body_color_success\@medium {
    color: var(--ek-success-text-color);
    }
        .ek-box_background_success\@medium {
    background: var(--ek-success-background-color);
    }
        .ek-box_border_success\@medium {
    border: 1px solid var(--ek-success-border-color);
    }

    .ek-grid_divider_success\@medium > .ek-grid__item {
        border: 0 solid var(--ek-success-divider-color);
    }

        .ek-grid_divider_success\@medium > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_success\@medium > .ek-list__item:before {
            color: var(--ek-success-text-color);
    }
        .ek-list_divider_success\@medium > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-success-divider-color);
    }
        .ek-link_color_success\@medium {
    color: var(--ek-success-link-color);
    }
        .ek-text_color_success\@medium {
    color: var(--ek-success-text-color);
    }
        .ek-line_color_success\@medium {
    border-color: var(--ek-success-divider-color);
    }
}


@media (--ek-media-large) {
        .ek-body_background_success\@large {
    background: var(--ek-success-background-color);
    }
        .ek-body_color_success\@large {
    color: var(--ek-success-text-color);
    }
        .ek-box_background_success\@large {
    background: var(--ek-success-background-color);
    }
        .ek-box_border_success\@large {
    border: 1px solid var(--ek-success-border-color);
    }

    .ek-grid_divider_success\@large > .ek-grid__item {
        border: 0 solid var(--ek-success-divider-color);
    }

        .ek-grid_divider_success\@large > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_success\@large > .ek-list__item:before {
            color: var(--ek-success-text-color);
    }
        .ek-list_divider_success\@large > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-success-divider-color);
    }
        .ek-link_color_success\@large {
    color: var(--ek-success-link-color);
    }
        .ek-text_color_success\@large {
    color: var(--ek-success-text-color);
    }
        .ek-line_color_success\@large {
    border-color: var(--ek-success-divider-color);
    }
}


@media (--ek-media-wide) {
        .ek-body_background_success\@wide {
    background: var(--ek-success-background-color);
    }
        .ek-body_color_success\@wide {
    color: var(--ek-success-text-color);
    }
        .ek-box_background_success\@wide {
    background: var(--ek-success-background-color);
    }
        .ek-box_border_success\@wide {
    border: 1px solid var(--ek-success-border-color);
    }

    .ek-grid_divider_success\@wide > .ek-grid__item {
        border: 0 solid var(--ek-success-divider-color);
    }

        .ek-grid_divider_success\@wide > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_success\@wide > .ek-list__item:before {
            color: var(--ek-success-text-color);
    }
        .ek-list_divider_success\@wide > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-success-divider-color);
    }
        .ek-link_color_success\@wide {
    color: var(--ek-success-link-color);
    }
        .ek-text_color_success\@wide {
    color: var(--ek-success-text-color);
    }
        .ek-line_color_success\@wide {
    border-color: var(--ek-success-divider-color);
    }
}


@media (--ek-media-huge) {
        .ek-body_background_success\@huge {
    background: var(--ek-success-background-color);
    }
        .ek-body_color_success\@huge {
    color: var(--ek-success-text-color);
    }
        .ek-box_background_success\@huge {
    background: var(--ek-success-background-color);
    }
        .ek-box_border_success\@huge {
    border: 1px solid var(--ek-success-border-color);
    }

    .ek-grid_divider_success\@huge > .ek-grid__item {
        border: 0 solid var(--ek-success-divider-color);
    }

        .ek-grid_divider_success\@huge > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_success\@huge > .ek-list__item:before {
            color: var(--ek-success-text-color);
    }
        .ek-list_divider_success\@huge > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-success-divider-color);
    }
        .ek-link_color_success\@huge {
    color: var(--ek-success-link-color);
    }
        .ek-text_color_success\@huge {
    color: var(--ek-success-text-color);
    }
        .ek-line_color_success\@huge {
    border-color: var(--ek-success-divider-color);
    }
}