:root {
    --ek-primary-background-color: #007bff;
    --ek-primary-border-color: #007bff;
    --ek-primary-divider-color: #007bff;
    --ek-primary-text-color: #004085;
    --ek-primary-link-color: #004085;
}

.ek-body_background_primary {
    background: var(--ek-primary-background-color);
}


.ek-body_color_primary {
    color: var(--ek-primary-text-color);
}


.ek-box_background_primary {
    background: var(--ek-primary-background-color);
}


.ek-box_border_primary {
    border: 1px solid var(--ek-primary-border-color);
}


.ek-grid_divider_primary > .ek-grid__item {
        border: 0 solid var(--ek-primary-divider-color);
}


.ek-grid_divider_primary > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
}


.ek-list_color_primary > .ek-list__item:before {
            color: var(--ek-primary-text-color);
}


.ek-list_divider_primary > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-primary-divider-color);
}


.ek-link_color_primary {
    color: var(--ek-primary-link-color);
}


.ek-text_color_primary {
    color: var(--ek-primary-text-color);
}


.ek-line_color_primary {
    border-color: var(--ek-primary-divider-color);
}


@media (--ek-media-small) {
        .ek-body_background_primary\@small {
    background: var(--ek-primary-background-color);
    }
        .ek-body_color_primary\@small {
    color: var(--ek-primary-text-color);
    }
        .ek-box_background_primary\@small {
    background: var(--ek-primary-background-color);
    }
        .ek-box_border_primary\@small {
    border: 1px solid var(--ek-primary-border-color);
    }

    .ek-grid_divider_primary\@small > .ek-grid__item {
        border: 0 solid var(--ek-primary-divider-color);
    }

        .ek-grid_divider_primary\@small > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_primary\@small > .ek-list__item:before {
            color: var(--ek-primary-text-color);
    }
        .ek-list_divider_primary\@small > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-primary-divider-color);
    }
        .ek-link_color_primary\@small {
    color: var(--ek-primary-link-color);
    }
        .ek-text_color_primary\@small {
    color: var(--ek-primary-text-color);
    }
        .ek-line_color_primary\@small {
    border-color: var(--ek-primary-divider-color);
    }
}


@media (--ek-media-medium) {
        .ek-body_background_primary\@medium {
    background: var(--ek-primary-background-color);
    }
        .ek-body_color_primary\@medium {
    color: var(--ek-primary-text-color);
    }
        .ek-box_background_primary\@medium {
    background: var(--ek-primary-background-color);
    }
        .ek-box_border_primary\@medium {
    border: 1px solid var(--ek-primary-border-color);
    }

    .ek-grid_divider_primary\@medium > .ek-grid__item {
        border: 0 solid var(--ek-primary-divider-color);
    }

        .ek-grid_divider_primary\@medium > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_primary\@medium > .ek-list__item:before {
            color: var(--ek-primary-text-color);
    }
        .ek-list_divider_primary\@medium > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-primary-divider-color);
    }
        .ek-link_color_primary\@medium {
    color: var(--ek-primary-link-color);
    }
        .ek-text_color_primary\@medium {
    color: var(--ek-primary-text-color);
    }
        .ek-line_color_primary\@medium {
    border-color: var(--ek-primary-divider-color);
    }
}


@media (--ek-media-large) {
        .ek-body_background_primary\@large {
    background: var(--ek-primary-background-color);
    }
        .ek-body_color_primary\@large {
    color: var(--ek-primary-text-color);
    }
        .ek-box_background_primary\@large {
    background: var(--ek-primary-background-color);
    }
        .ek-box_border_primary\@large {
    border: 1px solid var(--ek-primary-border-color);
    }

    .ek-grid_divider_primary\@large > .ek-grid__item {
        border: 0 solid var(--ek-primary-divider-color);
    }

        .ek-grid_divider_primary\@large > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_primary\@large > .ek-list__item:before {
            color: var(--ek-primary-text-color);
    }
        .ek-list_divider_primary\@large > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-primary-divider-color);
    }
        .ek-link_color_primary\@large {
    color: var(--ek-primary-link-color);
    }
        .ek-text_color_primary\@large {
    color: var(--ek-primary-text-color);
    }
        .ek-line_color_primary\@large {
    border-color: var(--ek-primary-divider-color);
    }
}


@media (--ek-media-wide) {
        .ek-body_background_primary\@wide {
    background: var(--ek-primary-background-color);
    }
        .ek-body_color_primary\@wide {
    color: var(--ek-primary-text-color);
    }
        .ek-box_background_primary\@wide {
    background: var(--ek-primary-background-color);
    }
        .ek-box_border_primary\@wide {
    border: 1px solid var(--ek-primary-border-color);
    }

    .ek-grid_divider_primary\@wide > .ek-grid__item {
        border: 0 solid var(--ek-primary-divider-color);
    }

        .ek-grid_divider_primary\@wide > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_primary\@wide > .ek-list__item:before {
            color: var(--ek-primary-text-color);
    }
        .ek-list_divider_primary\@wide > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-primary-divider-color);
    }
        .ek-link_color_primary\@wide {
    color: var(--ek-primary-link-color);
    }
        .ek-text_color_primary\@wide {
    color: var(--ek-primary-text-color);
    }
        .ek-line_color_primary\@wide {
    border-color: var(--ek-primary-divider-color);
    }
}


@media (--ek-media-huge) {
        .ek-body_background_primary\@huge {
    background: var(--ek-primary-background-color);
    }
        .ek-body_color_primary\@huge {
    color: var(--ek-primary-text-color);
    }
        .ek-box_background_primary\@huge {
    background: var(--ek-primary-background-color);
    }
        .ek-box_border_primary\@huge {
    border: 1px solid var(--ek-primary-border-color);
    }

    .ek-grid_divider_primary\@huge > .ek-grid__item {
        border: 0 solid var(--ek-primary-divider-color);
    }

        .ek-grid_divider_primary\@huge > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_primary\@huge > .ek-list__item:before {
            color: var(--ek-primary-text-color);
    }
        .ek-list_divider_primary\@huge > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-primary-divider-color);
    }
        .ek-link_color_primary\@huge {
    color: var(--ek-primary-link-color);
    }
        .ek-text_color_primary\@huge {
    color: var(--ek-primary-text-color);
    }
        .ek-line_color_primary\@huge {
    border-color: var(--ek-primary-divider-color);
    }
}