:root {
    --ek-muted-background-color: #f8f9fa;
    --ek-muted-border-color: #f8f9fa;
    --ek-muted-divider-color: #f8f9fa;
    --ek-muted-text-color: #a4abc4;
    --ek-muted-link-color: #a4abc4;
}

.ek-body_background_muted {
    background: var(--ek-muted-background-color);
}


.ek-body_color_muted {
    color: var(--ek-muted-text-color);
}


.ek-box_background_muted {
    background: var(--ek-muted-background-color);
}


.ek-box_border_muted {
    border: 1px solid var(--ek-muted-border-color);
}


.ek-grid_divider_muted > .ek-grid__item {
        border: 0 solid var(--ek-muted-divider-color);
}


.ek-grid_divider_muted > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
}


.ek-list_color_muted > .ek-list__item:before {
            color: var(--ek-muted-text-color);
}


.ek-list_divider_muted > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-muted-divider-color);
}


.ek-link_color_muted {
    color: var(--ek-muted-link-color);
}


.ek-text_color_muted {
    color: var(--ek-muted-text-color);
}


.ek-line_color_muted {
    border-color: var(--ek-muted-divider-color);
}


@media (--ek-media-small) {
        .ek-body_background_muted\@small {
    background: var(--ek-muted-background-color);
    }
        .ek-body_color_muted\@small {
    color: var(--ek-muted-text-color);
    }
        .ek-box_background_muted\@small {
    background: var(--ek-muted-background-color);
    }
        .ek-box_border_muted\@small {
    border: 1px solid var(--ek-muted-border-color);
    }

    .ek-grid_divider_muted\@small > .ek-grid__item {
        border: 0 solid var(--ek-muted-divider-color);
    }

        .ek-grid_divider_muted\@small > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_muted\@small > .ek-list__item:before {
            color: var(--ek-muted-text-color);
    }
        .ek-list_divider_muted\@small > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-muted-divider-color);
    }
        .ek-link_color_muted\@small {
    color: var(--ek-muted-link-color);
    }
        .ek-text_color_muted\@small {
    color: var(--ek-muted-text-color);
    }
        .ek-line_color_muted\@small {
    border-color: var(--ek-muted-divider-color);
    }
}


@media (--ek-media-medium) {
        .ek-body_background_muted\@medium {
    background: var(--ek-muted-background-color);
    }
        .ek-body_color_muted\@medium {
    color: var(--ek-muted-text-color);
    }
        .ek-box_background_muted\@medium {
    background: var(--ek-muted-background-color);
    }
        .ek-box_border_muted\@medium {
    border: 1px solid var(--ek-muted-border-color);
    }

    .ek-grid_divider_muted\@medium > .ek-grid__item {
        border: 0 solid var(--ek-muted-divider-color);
    }

        .ek-grid_divider_muted\@medium > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_muted\@medium > .ek-list__item:before {
            color: var(--ek-muted-text-color);
    }
        .ek-list_divider_muted\@medium > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-muted-divider-color);
    }
        .ek-link_color_muted\@medium {
    color: var(--ek-muted-link-color);
    }
        .ek-text_color_muted\@medium {
    color: var(--ek-muted-text-color);
    }
        .ek-line_color_muted\@medium {
    border-color: var(--ek-muted-divider-color);
    }
}


@media (--ek-media-large) {
        .ek-body_background_muted\@large {
    background: var(--ek-muted-background-color);
    }
        .ek-body_color_muted\@large {
    color: var(--ek-muted-text-color);
    }
        .ek-box_background_muted\@large {
    background: var(--ek-muted-background-color);
    }
        .ek-box_border_muted\@large {
    border: 1px solid var(--ek-muted-border-color);
    }

    .ek-grid_divider_muted\@large > .ek-grid__item {
        border: 0 solid var(--ek-muted-divider-color);
    }

        .ek-grid_divider_muted\@large > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_muted\@large > .ek-list__item:before {
            color: var(--ek-muted-text-color);
    }
        .ek-list_divider_muted\@large > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-muted-divider-color);
    }
        .ek-link_color_muted\@large {
    color: var(--ek-muted-link-color);
    }
        .ek-text_color_muted\@large {
    color: var(--ek-muted-text-color);
    }
        .ek-line_color_muted\@large {
    border-color: var(--ek-muted-divider-color);
    }
}


@media (--ek-media-wide) {
        .ek-body_background_muted\@wide {
    background: var(--ek-muted-background-color);
    }
        .ek-body_color_muted\@wide {
    color: var(--ek-muted-text-color);
    }
        .ek-box_background_muted\@wide {
    background: var(--ek-muted-background-color);
    }
        .ek-box_border_muted\@wide {
    border: 1px solid var(--ek-muted-border-color);
    }

    .ek-grid_divider_muted\@wide > .ek-grid__item {
        border: 0 solid var(--ek-muted-divider-color);
    }

        .ek-grid_divider_muted\@wide > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_muted\@wide > .ek-list__item:before {
            color: var(--ek-muted-text-color);
    }
        .ek-list_divider_muted\@wide > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-muted-divider-color);
    }
        .ek-link_color_muted\@wide {
    color: var(--ek-muted-link-color);
    }
        .ek-text_color_muted\@wide {
    color: var(--ek-muted-text-color);
    }
        .ek-line_color_muted\@wide {
    border-color: var(--ek-muted-divider-color);
    }
}


@media (--ek-media-huge) {
        .ek-body_background_muted\@huge {
    background: var(--ek-muted-background-color);
    }
        .ek-body_color_muted\@huge {
    color: var(--ek-muted-text-color);
    }
        .ek-box_background_muted\@huge {
    background: var(--ek-muted-background-color);
    }
        .ek-box_border_muted\@huge {
    border: 1px solid var(--ek-muted-border-color);
    }

    .ek-grid_divider_muted\@huge > .ek-grid__item {
        border: 0 solid var(--ek-muted-divider-color);
    }

        .ek-grid_divider_muted\@huge > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_muted\@huge > .ek-list__item:before {
            color: var(--ek-muted-text-color);
    }
        .ek-list_divider_muted\@huge > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-muted-divider-color);
    }
        .ek-link_color_muted\@huge {
    color: var(--ek-muted-link-color);
    }
        .ek-text_color_muted\@huge {
    color: var(--ek-muted-text-color);
    }
        .ek-line_color_muted\@huge {
    border-color: var(--ek-muted-divider-color);
    }
}