@import '../../mixins.sss'

@mixin media .grid_divider_success

    & > .grid__item
        border-color: var(--ek-success-divider-color)
        border-style: solid
        border-width: 0

        & + .grid__item
            border-left-width: 1px
