@import '../mixins.sss'

@mixin media .grid_divider_warning

    & > .grid__item
        border-color: var(--ek-warning-divider-color)
        border-style: solid
        border-width: 0

        & + .grid__item
            border-left-width: 1px
