@import '../../../mixins.sss'

@mixin media .box_background_dark
    background-color: var(--ek-dark-background-color)

@mixin media .box_border_dark
    border: 1px solid var(--ek-dark-border-color)
