@import '../../../mixins.sss'

@mixin media .box_background_default
    background-color: var(--ek-default-background-color)

@mixin media .box_border_default
    border: 1px solid var(--ek-default-border-color)
