@import '../../../mixins.sss'

@mixin media .box_background_info
    background-color: var(--ek-info-background-color)

@mixin media .box_border_info
    border: 1px solid var(--ek-info-border-color)
