@import '../../../mixins.sss'

@mixin media .box_background_minor
    background-color: var(--ek-minor-background-color)

@mixin media .box_border_minor
    border: 1px solid var(--ek-minor-border-color)
