@import '../../../mixins.sss'

@mixin media .box_background_primary
    background-color: var(--ek-primary-background-color)

@mixin media .box_border_primary
    border-color: var(--ek-primary-border-color)
