@import '../../../mixins.sss'

@mixin media .box_background_primary
    background: var(--ek-primary-background-color)

@mixin media .box_border_primary
    border: 1px solid var(--ek-primary-border-color)
