@import '../../../mixins.sss'

@mixin media .box_background_success
    background-color: var(--ek-success-background-color)

@mixin media .box_border_success
    border: 1px solid var(--ek-success-border-color)
