:root {
    --ek-info-background-color: #17a2b8;
    --ek-info-border-color: #17a2b8;
    --ek-info-divider-color: #17a2b8;
    --ek-info-text-color: #0c5460;
    --ek-info-link-color: #0c5460;
}

.ek-body_background_info {
    background: var(--ek-info-background-color);
}


.ek-body_color_info {
    color: var(--ek-info-text-color);
}


.ek-box_background_info {
    background: var(--ek-info-background-color);
}


.ek-box_border_info {
    border: 1px solid var(--ek-info-border-color);
}


.ek-grid_divider_info > .ek-grid__item {
        border: 0 solid var(--ek-info-divider-color);
}


.ek-grid_divider_info > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
}


.ek-list_color_info > .ek-list__item:before {
            color: var(--ek-info-text-color);
}


.ek-list_divider_info > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-info-divider-color);
}


.ek-link_color_info {
    color: var(--ek-info-link-color);
}


.ek-text_color_info {
    color: var(--ek-info-text-color);
}


.ek-line_color_info {
    border-color: var(--ek-info-divider-color);
}


@media (--ek-media-small) {
        .ek-body_background_info\@small {
    background: var(--ek-info-background-color);
    }
        .ek-body_color_info\@small {
    color: var(--ek-info-text-color);
    }
        .ek-box_background_info\@small {
    background: var(--ek-info-background-color);
    }
        .ek-box_border_info\@small {
    border: 1px solid var(--ek-info-border-color);
    }

    .ek-grid_divider_info\@small > .ek-grid__item {
        border: 0 solid var(--ek-info-divider-color);
    }

        .ek-grid_divider_info\@small > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_info\@small > .ek-list__item:before {
            color: var(--ek-info-text-color);
    }
        .ek-list_divider_info\@small > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-info-divider-color);
    }
        .ek-link_color_info\@small {
    color: var(--ek-info-link-color);
    }
        .ek-text_color_info\@small {
    color: var(--ek-info-text-color);
    }
        .ek-line_color_info\@small {
    border-color: var(--ek-info-divider-color);
    }
}


@media (--ek-media-medium) {
        .ek-body_background_info\@medium {
    background: var(--ek-info-background-color);
    }
        .ek-body_color_info\@medium {
    color: var(--ek-info-text-color);
    }
        .ek-box_background_info\@medium {
    background: var(--ek-info-background-color);
    }
        .ek-box_border_info\@medium {
    border: 1px solid var(--ek-info-border-color);
    }

    .ek-grid_divider_info\@medium > .ek-grid__item {
        border: 0 solid var(--ek-info-divider-color);
    }

        .ek-grid_divider_info\@medium > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_info\@medium > .ek-list__item:before {
            color: var(--ek-info-text-color);
    }
        .ek-list_divider_info\@medium > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-info-divider-color);
    }
        .ek-link_color_info\@medium {
    color: var(--ek-info-link-color);
    }
        .ek-text_color_info\@medium {
    color: var(--ek-info-text-color);
    }
        .ek-line_color_info\@medium {
    border-color: var(--ek-info-divider-color);
    }
}


@media (--ek-media-large) {
        .ek-body_background_info\@large {
    background: var(--ek-info-background-color);
    }
        .ek-body_color_info\@large {
    color: var(--ek-info-text-color);
    }
        .ek-box_background_info\@large {
    background: var(--ek-info-background-color);
    }
        .ek-box_border_info\@large {
    border: 1px solid var(--ek-info-border-color);
    }

    .ek-grid_divider_info\@large > .ek-grid__item {
        border: 0 solid var(--ek-info-divider-color);
    }

        .ek-grid_divider_info\@large > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_info\@large > .ek-list__item:before {
            color: var(--ek-info-text-color);
    }
        .ek-list_divider_info\@large > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-info-divider-color);
    }
        .ek-link_color_info\@large {
    color: var(--ek-info-link-color);
    }
        .ek-text_color_info\@large {
    color: var(--ek-info-text-color);
    }
        .ek-line_color_info\@large {
    border-color: var(--ek-info-divider-color);
    }
}


@media (--ek-media-wide) {
        .ek-body_background_info\@wide {
    background: var(--ek-info-background-color);
    }
        .ek-body_color_info\@wide {
    color: var(--ek-info-text-color);
    }
        .ek-box_background_info\@wide {
    background: var(--ek-info-background-color);
    }
        .ek-box_border_info\@wide {
    border: 1px solid var(--ek-info-border-color);
    }

    .ek-grid_divider_info\@wide > .ek-grid__item {
        border: 0 solid var(--ek-info-divider-color);
    }

        .ek-grid_divider_info\@wide > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_info\@wide > .ek-list__item:before {
            color: var(--ek-info-text-color);
    }
        .ek-list_divider_info\@wide > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-info-divider-color);
    }
        .ek-link_color_info\@wide {
    color: var(--ek-info-link-color);
    }
        .ek-text_color_info\@wide {
    color: var(--ek-info-text-color);
    }
        .ek-line_color_info\@wide {
    border-color: var(--ek-info-divider-color);
    }
}


@media (--ek-media-huge) {
        .ek-body_background_info\@huge {
    background: var(--ek-info-background-color);
    }
        .ek-body_color_info\@huge {
    color: var(--ek-info-text-color);
    }
        .ek-box_background_info\@huge {
    background: var(--ek-info-background-color);
    }
        .ek-box_border_info\@huge {
    border: 1px solid var(--ek-info-border-color);
    }

    .ek-grid_divider_info\@huge > .ek-grid__item {
        border: 0 solid var(--ek-info-divider-color);
    }

        .ek-grid_divider_info\@huge > .ek-grid__item + .ek-grid__item {
            border-left-width: 1px;
    }
        .ek-list_color_info\@huge > .ek-list__item:before {
            color: var(--ek-info-text-color);
    }
        .ek-list_divider_info\@huge > .ek-list__item + .ek-list__item {
            border-top: 1px solid var(--ek-info-divider-color);
    }
        .ek-link_color_info\@huge {
    color: var(--ek-info-link-color);
    }
        .ek-text_color_info\@huge {
    color: var(--ek-info-text-color);
    }
        .ek-line_color_info\@huge {
    border-color: var(--ek-info-divider-color);
    }
}