@import 'text'
@import 'text_color'
@import 'text_size'
@import 'text_weight'
@import 'text_align'
@import 'text_valign'
@import 'text_wrap_ellipsis'
@import 'text_wrap_break'
@import 'text_wrap_nowrap'
@import 'text_wrap_two-line'
@import 'text_wrap_three-line'
@import 'text_style_overline'
@import 'text_style_strike'
@import 'text_style_underline'
@import 'text_style_italic'
@import 'text_style_read'
