.ui-panel__body
    flex: auto
    box-sizing: border-box

    &:first-child
        border-top-left-radius: $ui-panel['border-radius']
        border-top-right-radius: $ui-panel['border-radius']

    &:last-child
        border-bottom-left-radius: $ui-panel['border-radius']
        border-bottom-right-radius: $ui-panel['border-radius']
