.doc-content__table-head
    display: table-row-group

    .doc-content__table-cell
        text-transform: uppercase
        color: #999
        font-size: 12px
        vertical-align: bottom
        text-align: left
        font-weight: normal
