/*@import '../blocks/Body/themes/minor.sss'*/
/*@import '../blocks/Image/themes/minor.sss'*/
/*@import '../blocks/Picture/themes/minor.sss'*/
@import '../blocks/Box/themes/minor.sss'
@import '../blocks/Grid/themes/minor.sss'
@import '../blocks/List/themes/minor.sss'
@import '../blocks/Link/themes/minor.sss'
@import '../blocks/Text/themes/minor.sss'
@import '../blocks/Line/themes/minor.sss'
