.doc-homepage__button
    display: inline-block
    box-sizing: border-box
    padding: 0 30px
    vertical-align: middle
    font-size: 14px
    line-height: 38px
    text-align: center
    text-transform: uppercase
    transition: .1s ease-in-out
    transition-property: background-color, border-color
    border: 1px #facd00 solid
    border-radius: 40px
    background: #fff

    &:hover
        background-color: #facd00
