// Global variables
@import '../vars/base'
@import '../functions'
@import '../mixins/media'

// Laptop L
media-add('xlarge', '(min-width: 1200px)')

// Laptop XL
media-add('xxlarge', '(min-width: 1400px)')

// ui-page settings
$global-page['padding'] = (0 20px)
$global-page['min-width'] = 1000px
$global-page['max-width'] = 1240px

// ui-title settings
$global-title = {
    h1: 24px
    h2: 22px
    h3: 20px
    h4: 18px
    h5: 16px
    h6: 14px
}

+prefix-classes('ui-')
    // Common
    @import '../blocks/title'
    @import '../blocks/text'
    @import '../blocks/link'
    @import '../blocks/line'

    // Layout
    @import '../blocks/page'
    @import '../blocks/box'
    @import '../blocks/grid'
    @import '../blocks/panel'
    @import '../blocks/width'

    // Elements
    @import '../blocks/list'
    @import '../blocks/picture'

    // Media
    media-apply()
