// Global variables
@import '../vars/base'
@import '../functions'
@import '../mixins/media'

// Laptop XL
media-add('xlarge', '(min-width: 1200px)')

// Laptop XXL
media-add('xxlarge', '(min-width: 1400px)')

// Laptop XXXL
media-add('xxxlarge', '(min-width: 1600px)')

// ui-page settings
$global-page['padding'] = (0 20px)
$global-page['min-width'] = 1000px
$global-page['max-width'] = 1240px

// ui-title settings
$global-title = {
    h1: 24px
    h2: 22px
    h3: 20px
    h4: 18px
    h5: 16px
    h6: 14px
}

$global-text['font-size'] = $global-title

+prefix-classes('ui-')
    // Deprecated
    @import '../deprecated/page'
    @import '../deprecated/title'
    @import '../deprecated/text'

    // Blocks
    @import '../blocks/body'
    @import '../blocks/grid'
    @import '../blocks/panel'
    @import '../blocks/box'
    @import '../blocks/list'
    @import '../blocks/text'
    @import '../blocks/link'
    @import '../blocks/picture'
    @import '../blocks/line'

    // helpers
    @import '../helpers/width'
