// Global variables
@import '../vars/base'
@import '../functions'
@import '../mixins/media'

// Phones landscape
media-add('small',  '(min-width: 480px)')

// Tablets portrait
media-add('medium', '(min-width: 768px)')

// Tablets landscape
media-add('large',  '(min-width: 960px)')

// ui-page settings
$ui-page['padding'] = (10px)

// ui-title settings
$ui-title = {
    h1: 22px
    h2: 20px
    h3: 18px
    h4: 16px
    h5: 14px
}

$PORTABLE_MODE = true


// Common
@import '../blocks/ui-title'
@import '../blocks/ui-text'
@import '../blocks/ui-link'
@import '../blocks/ui-line'

// Layout
@import '../blocks/ui-box'
@import '../blocks/ui-grid'
@import '../blocks/ui-panel'
@import '../blocks/ui-width'

// Elements
@import '../blocks/ui-list'
@import '../blocks/ui-picture'

// Media
media-apply()
