// Global variables
@import '../vars/base'
@import '../functions'
@import '../mixins/media'

// Phones landscape
media-add('small',  '(min-width: 480px)')

// Tablets portrait
media-add('medium', '(min-width: 768px)')

// Tablets landscape
media-add('large',  '(min-width: 960px)')

// ui-base settings
$uikit-base['background-color'] = #f7f7f7
$uikit-base['min-width'] = 320px

// ui-page settings
$global-page['padding'] = (10px)

// ui-title settings
$global-title = {
    h1: 22px
    h2: 20px
    h3: 18px
    h4: 16px
    h5: 14px
}

$global-text['font-size'] = $global-title

$PORTABLE_MODE = true

+prefix-classes('ui-')
    // Blocks
    @import '../blocks/body'
    @import '../blocks/grid'
    @import '../blocks/panel'
    @import '../blocks/box'
    @import '../blocks/list'
    @import '../blocks/text'
    @import '../blocks/link'
    @import '../blocks/picture'
    @import '../blocks/image'
    @import '../blocks/line'
    @import '../blocks/tags'

    // helpers
    @import '../helpers/width'
