@import '../../../mixins.sss'

@mixin media .grid_divider_danger

    & > .grid__item
        border: 0 solid var(--ek-danger-divider-color)

        & + .grid__item
            border-left-width: 1px
