@import '../../../mixins.sss'

@mixin media .grid_divider_default

    & > .grid__item
        border: 0 solid var(--ek-default-divider-color)

        & + .grid__item
            border-left-width: 1px
