$width_cache = {}

for count in (1..10)
    for index in (1..count)
        $width = s('%s%',  index / count * 100)
        $class = s('.width-%s-%s', index, count)

        unless $width_cache[$width]
            $width_cache[$width] = ()
        push($width_cache[$width], $class)

for $value, $key in $width_cache
    {join(',', $key)}
        width: s($value)

for media_name in $_media_alias
    +media(media_name)
        for $value, $key in $width_cache
            {join('\@' + media_name + ',', $key) + '\@' + media_name}
                width: s($value)

