@import '../../../mixins.sss'

@mixin media .body_background_default
    background-color: var(--ek-default-background-color)

@mixin media .body_color_default
    color: var(--ek-default-text-color)
