@import '../../../mixins.sss'

@mixin media .body_background_success
    background-color: var(--ek-success-background-color)

@mixin media .body_color_success
    color: var(--ek-success-text-color)
