@import '../../../mixins.sss'

@mixin media .body_background_warning
    background-color: var(--ek-warning-background-color)

@mixin media .body_color_warning
    color: var(--ek-warning-text-color)
