.ui-page
    box-sizing: border-box
    margin-left: auto
    margin-right: auto
    if $page-min-width
        min-width: $page-min-width
    if $page-max-width
        max-width: $page-max-width
    if length($page-padding)
        padding: $page-padding
