.doc-menu__list-link_state_active
    color: #222
    cursor: default
    position: relative

    &:before
        content: ""
        position: absolute
        top: 50%
        right: 100%
        width: 15px
        border-top: 1px solid #f55832
        margin-right: 10px

    &:hover
        color: #222
