@import '../../../mixins.sss'

@mixin media .list_color_danger
    & > .list__item
        &:before
            color: var(--ek-danger-text-color)

@mixin media .list_divider_danger
    & > .list__item
        & + .list__item
            border-top: 1px solid var(--ek-danger-divider-color)
