@import '../../../mixins.sss'

@mixin media .list_color_default
    & > .list__item
        &:before
            color: var(--ek-default-text-color)

@mixin media .list_divider_default
    & > .list__item
        & + .list__item
            border-top: 1px solid var(--ek-default-divider-color)
