@import '../../../mixins.sss'

@mixin media .list_color_light
    & > .list__item
        &:before
            color: var(--ek-light-text-color)

@mixin media .list_divider_light
    & > .list__item
        & + .list__item
            border-color: var(--ek-light-divider-color)
