@import '../../../mixins.sss'

@mixin media .list_color_minor
    & > .list__item
        &:before
            color: var(--ek-minor-text-color)

@mixin media .list_divider_minor
    & > .list__item
        & + .list__item
            border-color: var(--ek-minor-divider-color)
