for name, value in $ui-size
    +media-selector('.ui-grid_size_'+name)
        margin-top: -(floor(value / 2))
        margin-left: -(floor(value / 2))
        margin-right: -(ceil(value / 2))
        margin-bottom: -(ceil(value / 2))

        & > .ui-grid__item
            padding-top: (floor(value / 2))
            padding-left: (floor(value / 2))
            padding-right: (ceil(value / 2))
            padding-bottom: (ceil(value / 2))

        &[class*='ui-grid_theme_divider']
            margin: 0

            & > .ui-grid__item
                padding: value
