// Text styles
@import 'ui-text-bold'
@import 'ui-text-underline'
@import 'ui-text-italic'
@import 'ui-text-strike'

// Text alignment
@import 'ui-text-left'
@import 'ui-text-center'
@import 'ui-text-right'

// Vertical alignment
@import 'ui-text-top'
@import 'ui-text-middle'
@import 'ui-text-bottom'

// Text wrapping
@import 'ui-text-ellipsis'
@import 'ui-text-break'
@import 'ui-text-nowrap'
