// FLAGS
$PORTABLE_MODE = false


// VARS
$media-aliases = {}

$page-padding = ()
$page-min-width = false
$page-max-width = false

$ui-link-color = #5e8fd5
$ui-line-color = #dde8f0

$ui-text-color-muted = #a0b0c7

$ui_title = {}

$ui_size = {
    xxs:    5px
    xs:     10px
    s:      15px
    m:      20px
    l:      25px
    xl:     30px
    xxl:    35px
    xxxl:   40px
}

$ui_panel = {
    borderRadius: 10px
}
