@import 'base'

$page-padding = 0 20px
$page-min-width = 1000px
$page-max-width = 1240px

$media-aliases = {
  xl: '(min-width: 1200px)'
  xxl: '(min-width: 1400px)'
}

$ui_title = {
    h1: 24px
    h2: 22px
    h3: 20px
    h4: 18px
    h5: 16px
    h6: 14px
}
