@import 'base'

$page-padding = 10px

$media-aliases = {
  small:  '(min-width: 480px)' // Phones landscape
  medium: '(min-width: 768px)' // Tablets portrait
  large:  '(min-width: 960px)' // Tablets landscape
}

$ui_title = {
    h1: 22px
    h2: 20px
    h3: 18px
    h4: 16px
    h5: 14px
}
