for name, value in $ui_size
    .ui-grid_size_{name}
        margin-top: - value
        margin-left: - value

        & > .ui-grid__item
            padding-top: value
            padding-left: value

        &.ui-grid_theme_divider
            margin-right: - value

            & > .ui-grid__item
                padding-top: 0
                padding-right: value

