for name, value in $ui_size
    .ui-grid_size_{name}
        margin: - (value / 2)

        & > .ui-grid__item
            padding: (value / 2)

        &.ui-grid_theme_divider
            margin-top: 0
            margin-bottom: 0
