<!DOCTYPE html>
<html>
    <head>
        <title>Bigl — UIkit</title>
        <meta charset="utf-8">
        <base href="<%= basePath %>">
        <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="https://static-cache.ua.uaprom.net/bigl/favicons/favicon.ico?r=41f77e37fe44e1597654c95ae73f6c42"/><![endif]-->
        <link rel="apple-touch-icon" href="https://static-cache.ua.uaprom.net/bigl/favicons/apple-touch-icon.png?r=f7dc65af3e6846bf1e00c75f8a60fa7a">
        <link rel="apple-touch-icon" sizes="76x76" href="https://static-cache.ua.uaprom.net/bigl/favicons/apple-touch-icon-76x76.png?r=1a9aed51c0bfa0d302732cc3aa45e9f4">
        <link rel="apple-touch-icon" sizes="120x120" href="https://static-cache.ua.uaprom.net/bigl/favicons/apple-touch-icon-120x120.png?r=308bc2e3fd2d660c3d741a12f9516472">
        <link rel="apple-touch-icon" sizes="152x152" href="https://static-cache.ua.uaprom.net/bigl/favicons/apple-touch-icon-152x152.png?r=11bf05646198ea7aae29c641598854d1">
        <link rel="icon" type="image/png" href="https://static-cache.ua.uaprom.net/bigl/favicons/favicon-32x32.png?r=9a506d01a2f1e72f2af73ff0668b61ad" sizes="32x32">
        <link rel="icon" type="image/png" href="https://static-cache.ua.uaprom.net/bigl/favicons/android-chrome-192x192.png?r=00c7be77c095c01def7367b0332001c0" sizes="192x192">
        <link rel="icon" type="image/png" href="https://static-cache.ua.uaprom.net/bigl/favicons/favicon-96x96.png?r=90af27e1ac9e2af127274c706becd219" sizes="96x96">
        <link href="css/doc.css" media="all" rel="stylesheet" type="text/css">
        <link href="css/desktop.css" media="all" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&amp;subset=latin,cyrillic">
        <link rel="stylesheet" href="highlight/github.min.css">
        <script src="highlight/highlight.min.js"></script>
        <script>
            function toggleTab(index, hash) {
                var tabLinkList = document.querySelectorAll("[data-tab-link='"+hash+"']");
                var tabContentList = document.querySelectorAll("[data-tab-content='"+hash+"']");

                Array.prototype.forEach.call(tabLinkList, function(node, i) {
                    if (index === i) {
                        node.classList.add('doc-tab__list-item_state_active');
                        tabContentList[i].classList.add('doc-tab__content_state_active');
                    } else {
                        node.classList.remove('doc-tab__list-item_state_active');
                        tabContentList[i].classList.remove('doc-tab__content_state_active');
                    }
                });
            }
            hljs.initHighlightingOnLoad();
        </script>
    </head>
    <body>

        <div class="doc-header doc-header_theme_shadow">
            <a href="index.html" class="doc-header__logo">UIkit</a>
            <ul class="doc-header__nav">
                <% _.forIn(_.sortBy(navTree, ['sortIndex', 'value']), function(data) { %>
                    <li class="doc-header__nav-item">
                        <a
                            href="<%- data.href %>"
                            class="
                                doc-header__nav-link
                                <% if(data.active) { %>
                                    doc-header__nav-link_state_active
                                <% } %>
                            "
                        >
                            <% if(data.value == 'docs') { %>
                                documentation
                            <% } else { %>
                                <%- data.value %>
                            <% } %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>

        <div class="doc-page">
            <div class="doc-page__side">
                <% _.forIn(_.filter(navTree, 'active'), function(data) { %>
                    <div class="doc-page__side-title">
                        <% if(data.value == 'docs') { %>
                            Documentation
                        <% } else { %>
                            <%- data.value %>
                        <% } %>
                    </div>
                    <% _.forIn(_.sortBy(data.children, ['sortIndex', 'value']), function(data) { %>
                        <div class="doc-menu">
                            <div class="doc-menu__title">
                                <%- _.toUpper(data.value) %>
                            </div>
                            <div class="doc-menu__list">
                                <% _.forIn(_.sortBy(data.children, ['sortIndex', 'value']), function(data) { %>
                                    <div class="doc-menu__list-item">
                                        <a
                                            href="<%- data.href %>"
                                            class="
                                                doc-menu__list-link
                                                <% if(data.active) { %>
                                                    doc-menu__list-link_state_active
                                                <% } %>
                                            "
                                        >
                                            <%- _.upperFirst(data.value) %>
                                        </a>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    <% }) %>
                <% }) %>
            </div>
            <div class="doc-page__content">
                <div class="doc-content">
                    <%= content %>
                </div>
            </div>
        </div>

    </body>
</html>
