$width_cache = {}

for count in (1..10)
    for index in (1..count)
        $width = s('%s%',  index / count * 100)
        $class = s('%s-%s', index, count)

        unless $width_cache[$width]
            $width_cache[$width] = ()
        push($width_cache[$width], $class)


for $width, $class in $width_cache
    .ui-width-{join(', .ui-width-', $class)}
        width: s($width)

for media_name in $media-aliases
    +media(media_name)
        for $width, $class in $width_cache
            .ui-width-{media_name}-{join(', .ui-width-'+media_name+'-', $class)}
                width: s($width)
