.doc-header__nav-link
    text-transform: uppercase
    border-bottom: 1px solid transparent
    transition: border-bottom-color 0.1s linear
    line-height: 25px
    display: inline-block
    font-weight: 300

    &:hover
        border-bottom-color: currentColor
