.doc-header
    position: fixed
    left: 0
    top: 0
    width: 100%
    background: #fff
    padding: 20px 40px
    display: flex
    justify-content: space-between
    box-sizing: border-box
    z-index: 500
    height: 80px
    // background: linear-gradient(to left, #ffcd43, #ffdb4a)
