$_image_align = ('left' 'center' 'right')

for value in $_image_align
    .image_align_{unquote(value)}
        if value == 'center'
            display: block
            margin-left: auto
            margin-right: auto
        else
            float: unquote(value)
